.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: var(--section-padding-vertical) 24px;
  min-height: 420px;
  display: flex;
  align-items: center;
}

.hero > div {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero h1 {
  color: var(--text-on-dark-color);
}

.hero p {
  color: var(--text-on-dark-color);
  font-size: var(--body-font-size-m);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}